*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
markup/site/_includes/config/environment.php
php/ffmpeg/ffmpeg-0.5/
codeigniter_3.x/ci/system/
markup/site/includes/config/email.php
_info/
php/flash_image-upload/
