/**
* @version 0.0.0
* @link https://github.com/logsdon/redlove
* @link http://redlove.org
*/

/* ============================================================
	Table of Contents
============================================================
	(Prepend file with @import and @charset as necessary)
	# Reset
	# Foundation
	## Document
	## Typography
	## Lists
	## Tables
	## Forms
	## Layout
	# Components
	# Color Glossary
	# Site Styles
	## Body and Liner
	## Band, Wrap, and Liner
	## Navigation
	## Header
	## Footer
	## Content
	# Page Styles
	# Utility Helpers
	# Responsive / Media Queries / Target Devices
	# Fonts
	# Print
*/
/* ============================================================
	# 1st level
============================================================ */
/* --------------------------------------------------------------------------------
	## 2nd level
-------------------------------------------------------------------------------- */
/* ------------------------------------------------------------
	3rd level
------------------------------------------------------------ */
/* 
	Block description
---------------------------------------- */
/* Comment */


/* ============================================================
	# Reset
============================================================ */

/* http://meyerweb.com/eric/tools/css/reset/ - v2.0b2 | 201101 
http://meyerweb.com/eric/thoughts/2011/01/10/reset-2-0b2-paring-down/
NOTE: THIS IS A BETA VERSION (see previous line) USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ============================================================
	# Foundation
============================================================ */

/* --------------------------------------------------------------------------------
	## Document
-------------------------------------------------------------------------------- */

html,
body {
	border: 0;
	margin: 0;
	padding: 0;
	/*
	height: 100%;
	width: 100%;
	*/
}
html{
	height: 100%;
}
body {
	background: #FFFFFF;
	min-height: 100%;
	position: relative;
}

/* 
	Add dimensions to the inside of the element and not the outside
	(borders and padding do not effect widths and heights)
---------------------------------------- */
body,
body * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* 
	Help fix choppy scrolling on elements with overflow scrolling
	http://stackoverflow.com/questions/12845892/ios-overflow-x-or-position-absolute-makes-scrolling-choppy
---------------------------------------- */
body * {
	-webkit-overflow-scrolling: touch;
}

/* --------------------------------------------------------------------------------
	## Typography
-------------------------------------------------------------------------------- */

/* ------------------------------------------------------------
	Base Font
------------------------------------------------------------ */

/* 
	Base Font - Size
---------------------------------------- */
/*http://coding.smashingmagazine.com/2007/05/10/70-expert-ideas-for-better-css-coding/*/
html {
	font-size: 62.5%;/* font-size 1em = 10px */
	
	/* Fix for webkit rendering */
	-webkit-font-smoothing: antialiased;
	/* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	
	/* Additional font rendering help */
    -moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	font-size: 10px;/* =10px; fallback for <= IE8 */
	font-size: 1.0rem;/* =10px */
	line-height: 1.0;/* =100% */
	
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.4;/*1.42857;*/
}

/* 
	Base Font - Family
---------------------------------------- */
body {
	/*
	http://cssfontstack.com/

	Georgia, Garamond, Times, 'Times New Roman', serif
	Tahoma, Verdana, sans-serif
	Arial, Helvetica, sans-serif
	Verdana, Arial, sans-serif

	'Lucida Grande', Tahoma, Verdana, Arial, Helvetica, Geneva, sans-serif
	'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif
	Tahoma, Verdana, Segoe, sans-serif
	'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif
	'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif
	Arial, 'HelveticaNeue', 'Helvetica Neue', Helvetica, sans-serif
	Arial, Helvetica, 'Lucida Grande', Verdana, Geneva, sans-serif
	'Gill Sans MT', 'Gill Sans', GillSans, Calibri, sans-serif

	'Courier New', Courier, 'Lucida Console', Monaco, monospace
	*/
	font-family: sans-serif;
}

/* ------------------------------------------------------------
	Text elements
------------------------------------------------------------ */

::-moz-selection,
::selection {
	background: #b3d4fc;
	text-shadow: none;
}

i,
i i i,
em,
em em em {
	font-style: italic;
}
i i,
em em {
	font-style: normal;
}
b,
strong {
	font-weight: bold;
}
small {
	font-size: 80%;
}

sub,
sup {
	font-size: 60%;/*75%*/
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

nobr {
	white-space: nowrap;
}

abbr[title],
abbr[data-original-title] {
	border-bottom: 1px dotted #999999;
	cursor: help;
}

dfn {
	font-style: italic;
}

/* 
	Text elements - Marks
---------------------------------------- */
code,
kbd,
pre,
samp {
	font-family: monospace, serif;/*'Courier New', Courier, 'Lucida Console', Monaco, monospace, serif*/
	font-size: 1em;
}
kbd {
	background-color: #333333;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) inset;
	-moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) inset;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) inset;
	color: #FFFFFF;
	font-size: 90%;
	padding: 2px 4px;
}
/* Improve readability of pre-formatted text in all browsers. */
pre {
	display: block;
	line-height: 1.42857;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
}

q {
	quotes: none;
}
q:before,
q:after {
	content: '';
	content: none;
}

mark {
	background: #ff0;
	color: #000;
}

hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

/* 
	Text elements - Links
---------------------------------------- */
a {
	color:blue;
	color: inherit;
	text-decoration:underline;
	outline:0;
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active {
	outline: 0;
}
a[rel="external"],
a[target="_blank"] {
}

/* --------------------------------------------------------------------------------
	## Lists

	<ul>
		<li>List item</li>
		<li>List item</li>
		<li>List item</li>
	</ul>
-------------------------------------------------------------------------------- */

ol,
ul {
	display: block;
	/* Trigger hasLayout for inline-block, contain floats */
	/*display: inline-block;*display:inline;*zoom:1;*//*ie6/7*/
	list-style: disc;
	list-style-position: outside;
	margin-bottom: 1.0em;
	margin-left: 1.0em;
}
ol {
	list-style: decimal;
}
ol ol {
	list-style: upper-roman;
	margin-bottom: 0em;
	margin-top: 1.0em;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: upper-alpha;
}
ol ol ol ol ol {
	list-style: lower-alpha;
}
ul ul {
	list-style: circle;
	margin-bottom: 0em;
	margin-top: 1.0em;
}
ul ul ul {
	list-style: square;
}
li {
	margin-bottom: 1.0em;
	margin-left: 1.0em;
	/* Use image as bullet
	background: transparent url('../images/bullet.png') scroll no-repeat 0 5px;
	padding-left: 14px;
	*/
}
li:last-child {
	margin-bottom: 0;
}

dl {
	display: block;
	margin-bottom: 1.0em;
}
dt {
	font-weight: 700;
}
dd {
	margin-bottom: 1.0em;
}
dd:last-child {
	margin-bottom: 0;
}

/* --------------------------------------------------------------------------------
	## Tables

	<div class="table-responsive-wrap">
		<table border="0" cellpadding="0" cellspacing="0">
			<caption>Table Caption</caption>
			<thead>
				<tr>
					<th colspan="2" >Table heading</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Table cell</td>
					<td>Table cell</td>
				</tr>
			</tbody>
			<tfoot></tfoot>
		</table>
	</div>
-------------------------------------------------------------------------------- */
table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	table-layout: auto;/*fixed*/
	/*width: auto;width:100%;*/
}
/*
th,
td {
	text-align: left;
	vertical-align: top;
}
*/


/* --------------------------------------------------------------------------------
	## Forms
-------------------------------------------------------------------------------- */

/* 
	Forms - <form> <fieldset> <legend>
---------------------------------------- */
form,
fieldset,
legend {
	background: none;
	border: 0 none;
	margin: 0;
	outline: 0 none;
	padding: 0;
}
legend {
	display: block;
	font-weight: bold;
}

/* 
	Forms - <label>
---------------------------------------- */
label {
	cursor: pointer;
	display: block;
	font-weight: bold;
	vertical-align: middle;
}

/* 
	Forms - <button> <input> <textarea> <select> 
	
	button,
	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	input[type="image"],

	input[type="file"],

	input[type="radio"],
	input[type="checkbox"],

	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="url"],
	textarea,
	select,

	:hover
	:focus
	:active
	:enabled
	:disabled
	:checked
---------------------------------------- */
button,
input,
textarea,
select {
	background: none;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	border: 0 none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font: inherit;
	font-size: 100%;
	line-height: 1.0;
	margin: 0;
	outline: 0 none;
	*overflow: visible;/*Fix IE padding*/
	padding: 0;/* Vertical padding centers text on FF, ignored by Webkit */
	vertical-align: middle;
	/*max-width: 100%;issues in IE*/
	
	/* Remove Apple corner rounding */
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
	
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input[type="radio"],
input[type="checkbox"] {
	cursor: pointer;
	display: inline;
	height: 13px;
	vertical-align: text-bottom;
	width: 13px;
}
input[type="image"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	border: 0 none;
}
/* Had to remove because in default forms, the next label could be for another field
input[type="radio"] + label,
input[type=checkbox] + label {
	display: inline;
}
*/
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;/* Removes awkward default styles on some inputs for iOS */
	overflow: auto;
	vertical-align: top;
	
	/* Allow only vertical resizing of textareas. */
	resize: vertical;
}
select {
	cursor: pointer;
}

/* 
	Forms - <button> <input>
---------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="image"],
input[type="file"] {
	-webkit-appearance: button;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	cursor: pointer;
	display: inline-block;*display: inline;*zoom: 1;/*ie6/7*/
	*overflow: visible;/*Fix IE padding*/
	white-space: nowrap;
}
/* disabled or :disabled */
button[disabled="disabled"],
input[disabled="disabled"],
textarea[disabled="disabled"],
select[disabled="disabled"] {
	cursor: not-allowed;
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
}


/* --------------------------------------------------------------------------------
	## Layout
-------------------------------------------------------------------------------- */

/* ------------------------------------------------------------
	Media
------------------------------------------------------------ */

audio,
embed,
object,
video {
	outline: 0;
}

/* Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3. */
audio,
canvas,
video {
	display: inline-block;*display: inline;*zoom: 1;/*ie6/7*/
}

/* Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) {
	display: none;
	height: 0;
}

/* ------------------------------------------------------------
	Images
------------------------------------------------------------ */

img {
	border-style: none 0;
	display: inline-block;*display: inline;*zoom: 1;/*ie6/7*/
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
}

svg:not(:root) {
	overflow: hidden;
}


/* ============================================================
	# Responsive / Media Queries / Target Devices
============================================================ */

@-ms-viewport {
	width: device-width;
}


/* ============================================================
	# Print
============================================================ */

@media print {

	@page {
		margin: 0.5cm;
	}

	body {
		width: 6.5in;
	}

	* {
		background: transparent !important;
		color: #000 !important;/* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
		
		/*
		overflow: visible !important;
		float: none !important;
		*/
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/* Don't show links for images, or javascript/internal links */
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;/* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
	
}
